AppConfigurationConsole/terraform.tfstate
TerraformInfra/.terraform.lock.hcl
TerraformInfra/terraform.tfstate
TerraformInfra/terraform.tfstate.backup
TerraformInfra/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.46.0/windows_amd64/terraform-provider-azurerm_v2.46.0_x5.exe

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
*.vs
.vscode/
*.suo
*.user
bin
obj
packages

# Build results
[Dd]ebug/
[Dd]ebugPub
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

*.suo
*.user
bin
obj
packages
